@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/* Styles for sweet-alert JQuery-plugin
*/
.sweet-alert h2 {
	font-family: "Shadows Into Light" !important;
	color: #555 !important;
}

.sweet-alert p {
	color: #555 !important;
}
.sweet-alert button {
	text-transform: uppercase;
	font-size: 1em !important;
	margin-bottom: 4% !important; 
}

.sweet-alert .confirm {
	background-color: #FE63B5 !important;
}

/* Styles for welcome-template
*/
#welcome_mash {
	width: 80%;
	overflow: hidden;
	padding-top: 2%;
	margin: auto;
	height: 600px;
}

#welcome_mash span {
	color: #ff038a;
}
#welcome_mash h1 {
	margin: 12% 5% 10% 15%;
	padding: 0% 10%;
	font-family: 'Shadows Into Light';
	text-align: center;
	font-size: 9em;
	line-height: 1.3em;
}

.arrow {
	transform:rotate(50deg);
	margin-left: 5%;
	bottom: 30%;
	position: absolute;
}


* {
	-webkit-padding-start: 0px;
}

body{
	background-color: #ccc;
}

.loading_space {
	opacity: 0;
	z-index: -10000;
	position: absolute;
	top: 100px;
	left: 0px;
    height:		400px;
    width:      360px;
    background-image: url('img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

#font_choice.loading .loading_space {
    overflow: hidden;   
}

#font_list {
	opacity: 1;
	transition: all 1s ease;
}

#font_choice.loading #font_list {
	opacity: 0;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#font_choice.loading .loading_space {
    opacity: 1;
    z-index: 99999;
}



/*Styles for API-doc*/

	
	.num_info {
		font-style: italic;
		line-height: 1.5em;
	}

	.api_doc {
		background-color: #ffffff;
		font-family: monospace;
		margin: 0;
		padding: 0;
	}

	.api_doc header hgroup{
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 23%;
		background-color: #222;
		font-size: 1.2em;
	}

	.api_doc header h1 {
		font-weight: 300;
		font-size: 1.1em;
		font-family: 'Cutive Mono', monospace; 
		color: #f1f1f1;
		width: 100%;
		margin: 0;
		padding: 5%;
		text-align: left;
		border-bottom: 1px solid #ccc;
	}

	.api {
		color: #ff038a;
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
	}

	.api_doc header p{
		width: 100%;
		font-family: muli;
		margin: 0;
		padding: 0;
	}

	.api_doc #wrapper {
		width: 100%;
		overflow: hidden;
		background-color: #222;
		margin: 0;
		padding: 0;
	}

	.api_doc nav {
		position: fixed;
		top: 10%;
		left: 0;
		width: 23%;
		padding: 0;
		margin: 0;
		vertical-align: bottom;
	}

	.api_doc nav ul{
		padding: 0% 0%;
	}

	.api_doc nav ul>li>ul>li a {
		padding-left: 9%;
	}

	.api_doc nav ul {
		margin: 0;
		padding: 0;
		margin: auto;
		width: 100%;
		font-size: 0.9em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
	}

	.api_doc nav li {
		padding: 0;
		margin: 0% 0%;
	}

	.api_doc nav a {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 5%;
		color: #fefefe;
		border-bottom: 1px solid #222;
		border-top: 1px solid #222;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	}

	.api_doc nav a:visited {
		color: #fefefe;
	}

	.api_doc nav a:hover {
		background-color: #ff038a;
		color: #222;
		transition: background-color 0.5s ease;
	}

	.api_doc .active {
		background-color: #ff038a;
		transition: background-color 0.5s ease;
	}
	.api_doc section{
		background-color: #ffffff;
		position: relative;
		float: right;
		width: 57%;
		margin: 0;
		padding: 0% 10% 40% 10%;
		overflow: hidden;
	}

	.api_doc footer{
		position: fixed;
		width: 20%;
		bottom: 0;
		margin: 0;
		padding: 0;
	}

	.api_doc footer p {
		text-align: center;
	}

	.api_doc footer a {
		text-decoration: underline;
		color: "#cecece";
	}

	.api_doc footer a:hover, .api_doc footer a:active  {
		background-color: #222;
	}

	.api_doc footer a:visited {
		color: #cecece;
	}

	.endpoints ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.api_doc nav h1 {
		text-align: left;
		padding: 0;
		margin: 0;
	}

	.api_doc h2 {
		margin-top: 8%;
	}

	.api_doc h3 {
		margin-top: 4.5%;
	}

	.api_doc table {
		margin: 2% 0% 0% 0%;
		text-align: left;
		width: 99%;
		padding: 1%;
		border: 1px solid #cecece;
	}

	.api_doc td, .api_doc th {
		padding: 1% 2%;
		width: 14.29%;
		vertical-align: top;
	}
	
	.api_doc .data_type {
		width: 24.05%
	}
	.api_doc .description {
		width: 33.1%
	}

	.api_doc table em {
		background-color: #cecece;
		padding: 4%;
	}

	.api_doc a {
		color: #222;
	}

	.api_doc a:hover, .api_doc a:active {
		text-decoration: none;
	}

	.api_doc a:visited {
		color: #222;
	}

	.api_doc pre {
		margin: 0;
		padding: 0;		
		max-width: 99%;
		overflow: auto;
		background-color: #fefefe;
		border: 1px solid #cecece;
	}

	.api_doc code {
		max-height: 700px;
	}

	code {
		background-color: #eee;
		display: block;
		width: 97%;
		margin: 0;
		padding: 1%;
		border: 1px solid #cecece;
		line-height: 1.6em;
	}

 	code em {
		background-color: #cecece;
		padding: 0.5%;
	}

	.response {
		background-color: #fefefe;
		border: 0px solid #fff;
	}

	.response_header {
		background-color: #eee;
		border: 1px solid #cecece;
		border-bottom: 0px solid #fff;
	}

/* */

/*Styles for error-page (404, 400, 500)*/
	.not_found {
		font-family: "PT Mono", monospace;
		background-color: #111;
		color: #fff;
		width: 100%;
		margin: auto;
		text-align: center;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	}

	.not_found h1{
		font-size: 4em;
		padding: 16% 0% 0% 0%;
	}

	.error_message {
		font-size: 1.5em;
		font-style: italic;
	}

	.not_found p {
		line-height: 1.7em;
	}

	.not_found a {
		color: #ff038a;
	}
	.not_found a:hover{
		text-decoration: none;
	}

	.not_found a:visited {
		color: #ff038a;
	}
/* */

#color_icon a, #font_icon a, #code_icon a, #exit_icon a, #temp_icon a{
	width: 100px;
	height: 100px;
	padding:15%;
	text-indent: -99em;
	display: inline-block;
}

#temp_icon a {
	background: url("img/temp_icon_s.png");
}

#color_icon a {
	background: url("img/color_icon.png");
}

#font_icon a {
    background: url("img/font_icon.png");
}

#code_icon a {
    background: url("img/code_icon.png");
}

#exit_icon a{
    background: url("img/exit_icon.png");
}

#temp_icon a:hover {
	background: url("img/temp_icon.png");
}

#color_icon a:hover {
	background: url("img/color_icon_s.png");
}

#font_icon a:hover {
    background: url("img/font_icon_s.png");
}

#code_icon a:hover {
    background: url("img/code_icon_s.png");
}

#exit_icon a:hover{
    background: url("img/exit_icon_s.png");
}

#temp_icon[class="selected"] a {
    background: url("img/temp_icon.png");
}

#color_icon[class="selected"] a {
	background: url("img/color_icon_s.png");
}

#font_icon[class="selected"] a {
    background: url("img/font_icon_s.png");
}

#code_icon[class="selected"] a {
    background: url("img/code_icon_s.png");
}

#exit_icon[class="selected"] a{
    background: url("img/exit_icon.png");
}

#dashboard{
	position:fixed;
	top:80px;
	width: 100px;
	background-color: transparent;
	left:0;
	border-radius: 0 5px 0px 0;
	overflow: hidden;
	z-index: 99 !important;
}

#dashboard p{
	font-size: .7em;
	margin-bottom: 10%; 
}

select{
	width:83%;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
}


#dashboard h1, #dashboard h2{
	font-size: 1em;
}

#tabcontrols{
	width: 100px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;	
	margin:0;
	padding: 0;
}

#tabcontrols li{
	list-style: none;
}

#tabcontrols h2{
	margin-bottom: 0 !important;
	height:45px;
	color:#fff;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	font-size: 1.3em;
	padding-left: 7px;
	border-bottom: 1px solid #555;

}

.selected {
	background-color: #f1f1f1;
}

#exit_icon[class="selected"] {
	background-color: #000000;
}

.selected a, #tabcontrols li:hover {
	transition: all 0.5s ease;
}

#tabs{
	position:fixed;
	height:527.5px;
	top:143px;
	left:0;
	border-radius: 0 5px 0px 0;
	overflow: hidden;
	z-index: 88 !important;
}

#tabs p {
	font-size: .7em;
}

#colors_choice, #font_choice, #code_choice, #template_choice{
	position: fixed;
	left: -300px;
	display:block;
	width:400px;
	height:527.5px;
	padding:1% 2%;
	background-color: #f1f1f1;
	border-radius: 0 10px 10px 0;
	border: 2px solid rgba(50, 50, 50, 0.20);
	border-left: none;
}

#colors_choice, #font_choice, #code_choice {
	padding-top: 30px;
}

#code_choice h1 {
	margin: 3.5% 0;
	padding: 0;
	display: inline-block;
	width: 50%;
}

#font_select{
	position:relative;
	top: 0;
}


#colors_choice, #template_choice, #font_choice, #code_choice{
}

#colors_choice h1, #font_choice h1, #code_choice h1{
	text-transform: uppercase;
	color:#222;
	font-size: 1.15em;
	font-family: "Muli", sans-serif;

}

.css_code{
	width:100%;
	height:400px;	
	color:#000;
	font-size: .8em;
	padding:2%;
	margin-bottom: 5%;
	overflow: scroll;
	border:1px solid #cecece;
	background-color: #ffffff;
}

#template_choice:last-child{
	margin-bottom: 100px;
}

#submit_color, #fonta, #css_button {
	margin-left: 2%;
	background: url("img/go_b.png")no-repeat;
    cursor:pointer;
    width: 40px;
    height: 40px;
    border: none;;
    text-indent: -9999px;
}

#css_button {
	float: right;
	margin-bottom: 2%;
}

#random_color{
	background: url("img/shuffle_b.png")no-repeat;
    cursor:pointer;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 1%;
    text-indent: -9999px;
}

input[type=text] { 
	padding: 0px 0px 0px 20px; 
	width:70%;
	margin-bottom:5%;
	height: 40px;
}

.unit{ 
	color:#777;
	position: absolute; 
	display: block; 
	width:10px; 
	margin-left: 7px; 
	margin-top: -50px; 
	z-index: 9; 
	font-size: 1.3em;
}

#show_fonts{
	background-color: #ffffff;
	border:1px solid #cecece;
	height:300px;
	margin-top: 5%;
	padding-bottom: 20%;
	margin-bottom: 1%;
	overflow: scroll;
	border-radius: 3px;
}

#font_list ul {
	margin: 0;
	padding: 0;
}

#font_list li {
	margin: 0% 0%;
	padding: 1.8% 0% 1.8% 3%;
	font-size: 1.2em;
	list-style: none;
}

#font_list li:hover {
	cursor: crosshair;
	background-color: #efefef;
	transition: all 1 ease;
}


#resize_fonts {
	margin: auto;
	width: 70%;
	margin-top: 2%;
	text-align: center;
}

#smaller {
	background: url("img/minus_icon.png")no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 3%;
    text-indent: -9999px;
}

#bigger {
	background: url("img/plus_icon.png")no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 3%;
    text-indent: -9999px;
}

#smaller_size, #bigger_size {
	font-family: "Shadows Into Light";
	font-size: 1.5em;
	color: #000;
	display: inline-block;
	margin-top: 2%;
}

#smaller_size {
	margin-right: 4%;
}

#bigger_size {
	margin-left: 4%;
}

#palette{
	margin-top:10%;
	width:95%;
	height:auto;
}

.col{
	float:left; 
	width:20%; 
	padding:2% 1%;
	margin-bottom: -4%;
}

#palette .col p:hover {
	cursor: crosshair;
}

.col_p{
	text-align:center; 
	padding:0% 5%; 

	width:100%; 
	height:35px; 
	border:1px solid black; 
}

.hex_name{
	margin-top:-4%;
	margin-bottom: 10% !important;
	text-align:center; 

}

#template_choice {
	overflow: scroll;
}

#template_choice h2{
	margin: 4% 0% 1.5% 0%;
	font-family: 'Montserrat';
	font-size: 1.1em;
}

#template_choice p{
	font-family: 'Muli';
	font-size: .9em;
	margin-bottom: 6%;
}


#template_one, #template_two, #template_three{
	cursor: pointer;
	background:url('img/crossword.png');
	margin:0 auto;
	width:80%;
	border:1px solid #ccc;
	text-align: center;
	border-radius: 5px;
	margin-top:6%;
	margin-bottom:8%;
}

#template_one img, #template_two img, #template_three img{
	margin:1.5%;
	width:97%;
	border:1px solid #ddd;
	height:150px;
}
