@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body{
	background-color: #ccc;
}

/*Styles for API-doc*/
	.api_doc {
		background-color: #ffffff;
		font-family: monospace;
		margin: 0;
		padding: 0;
	}
	.api_doc section{
		width: 50%;
		padding: 0% 5%;
		margin: auto;
	}

	.api_doc header {
		background-color: #B7CBBF;
		margin: 0;
		padding: 0;
	}

	.api_doc header h1{
		padding: 6%;
		margin: auto;
		text-align: center;
	}

	.api_doc footer{
		margin-top: 7%;
		padding: 2%;
		background-color: #222;
	}

	.api_doc footer p {
		text-align: center;
	}

	.api_doc footer a {
		color: #cecece;
	}

	.api_doc footer a:hover, .api_doc footer a:active  {
		text-decoration: none;
	}

	.api_doc footer a:visited {
		color: #cecece;
	}

	.api_doc h2 {
		margin-top: 8%;
	}

	.api_doc h3 {
		margin-top: 4.5%;
	}

	.api_doc table {
		margin: 2% 0% 0% 0%;
		text-align: left;
		width: 95%;
		padding: 1%;
		border: 1px solid #cecece;
	}

	.api_doc td, .api_doc th {
		padding: 0.5% 2%;
		vertical-align: top;
	}

	.api_doc table em {
		background-color: #cecece;
		padding: 4%;
	}

	code {
		background-color: #eee;
		display: block;
		width: 93%;
		padding: 1%;
		border: 1px solid #cecece;
		line-height: 1.6em;
	}

	code em {
		background-color: #cecece;
		padding: 0.5%;
	}

	.response {
		background-color: #fefefe;
	}

	.response_header {
		background-color: #eee;
		border-bottom: 0px solid #fff;
	}

/* */

/*Styles for 404*/
	.not_found {
		font-family: monospace;
		background-color: #B7CBBF;
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.not_found h1{
		font-size: 4em;
		padding: 16% 0% 2% 0%;
	}

	.not_found p {
		line-height: 1.7em;
	}

	.not_found a:hover{
		text-decoration: none;
	}
/**/

#color_icon a, #font_icon a, #code_icon a, #exit_icon a{
	width: 100px;
	height: 100px;
	padding:15%;
	text-indent: -99em;
	display: inline-block;
}

#color_icon a {
	background: url("img/color_icon.png");
}

#font_icon a {
    background: url("img/font_icon.png");
}

#code_icon a {
    background: url("img/code_icon.png");
}

#exit_icon a{
    background: url("img/exit_icon.png");
}




#dashboard{
	position:fixed;
	overflow: auto;
	top:80px;
	left:0;
	z-index: 1000000;
	border-radius: 0 5px 0px 0;
	overflow: hidden;
	clear:both;
}

#dashboard p{
	font-size: .7em;
	margin-bottom: 10%; 
}

input[type=text]{
	width:68%;
	margin-right: 3%;
}

#submit_color{


}

#dashboard h1, #dashboard h2{
	font-size: 1em;

}


#tabcontrols{
	float:left;
	height: 600px;
	background-color: rgba(0,0,0,1);
	overflow: auto;
	margin:0;
	padding: 0;
}

#tabcontrols li{
	margin-top: -10px;
	list-style: none;

}

#tabcontrols h2{
	height:45px;
	color:#fff;
	text-align: center;
	font-family: 'Architects Daughter';
	font-size: 1.7em;
	border-bottom: 1px solid #555;


}

.selected{
	background-color: #8caf9a;

}

.selected a, #tabcontrols li:hover {
	background-color: #8caf9a;

}

#tabcontrols li:first-child{
	margin-top:50%
}

/*tabcontrols a{
	position: relative;
	display: block;
	width:75px;

	background-color: #aaa;
	padding:5px 10px 0px 10px;
	border-radius: 10px;
	margin: 0px 33px 0px -40px;
	padding-bottom: 40px;
	color:#222;

}*/
#colors_choice, #font_choice, #code_choice{
	margin-left:100px;
	display:block;
	width:400px;
	min-height:534px;
	padding:1% 5%;
	background-color: #8caf9a;
	border-radius: 0 10px 10px 0;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

#colors_choice{
	margin-top: 65px;	
}

#tabs{
	position:fixed;
	z-index:-99;
}


#font_choice{
	margin-top: 13.0%;	
}

#code_choice{
	margin-top: 13.0%;	
}

#colors_choice h1, #font_choice h1, #code_choice h1{
	text-transform: uppercase;
	color:#fff;
	font-family: 'Muli';
	font-size: 1.15em;
}

.css_code{
	width:100%;
	min-height:200px;	
	color:#000;
	font-size: .8em;
	padding:2%;
	margin-bottom: 5%;
}

#test, #submit_color{
	float:right;
}

#font_list ul {
	margin: 0;
	padding: 0;
}

#font_list li {
	margin: 0;
	padding: 2%;
	font-size: 1.2em;
	list-style: none;
}

#palette{
	margin-top:10%;
	width:100%;

}

.col{
	float:left; 
	width:20%; 
	padding:1%;
	margin-bottom: -4%;
	margin-top: 3%;
}

.col_p{
	text-align:center; 
	padding:0% 5%; 

	width:100%; 
	height:25px; 
	border:1px solid black; 
}

.hex_name{
	margin-top:-10%;

	text-align:center; 

}

#template_choice{
	
	width:70%;
	margin:0 auto;
}

#template_choice h1{
	font-family: 'Architects Daughter';
	font-size: 3em;
	height:65px;
	margin:9% 0% 2% 5%;
	
}

#template_choice h2{
	margin: 8% 0% 4% 0%;
	font-family: 'Montserrat';
}

#template_choice p{
	font-family: 'Muli';
	font-size: 1.15em;
}

#template_choice button{
	width:40%;
	height:40px;
	border:1px solid #639577;
	border-radius: 8px;
	background-color: #8caf9a;
	margin: 5% 0%;
	font-family: 'Muli';
	font-size: 1.2em;
}

#template_one{
	background:url('img/crossword.png');
	margin:0 auto;
	width:40%;
	float:left;
	margin: 0 5%;
	border:1px solid #ccc;
	text-align: center;
	border-radius: 5px;
}

#template_one img, #template_two img{
	margin:1.5%;
	width:97%;
	border:1px solid #ddd;
	height:250px;
}

#template_two{
	background:url('img/crossword.png');
	margin:0 auto;
	width:40%;
	float:left;
	margin:0% 5%;
	border:1px solid #ccc;
	text-align: center;
	border-radius: 5px;

}